.verify-slider {
    height: 546px !important;
    border-bottom: none;
}
.verify-slider img {
    max-height: 544px !important;
}

.verify-modal .bEbQLT{
    width: 30px;
    height: 30px;
    right: -50px;
    top: -50px;
    font-size: 30px;
    background: transparent;
    color: #fff;
    border: none;
    text-shadow: 1px 1px 1px #000;
}

.verify-modal .title {
    font-size: 24px;
    color: #887fff;
    text-align: center;
    width: 100%;
    display: inline-block;
    line-height: 50px;
}
.wrapper-slide {
    background: '#fff';
    border: 1px solid #887fff;
    background: #fff;
    position: relative;
}